.Auth{
    margin: 20px auto;
    width: 80%;
    text-align: center;
    border: 1px solid #eee;
    box-sizing: border-box;
    box-shadow: 0 2px 3px #ccc;
}

@media(min-wdth: 600px){
    .Auth{
        width: 500px;
    }
}

.InputElement{
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus{
    outline: none;
    background-color: #ccc;
}
 

.Invalid{
    border: 1px solid red;
    background-color: #FDA49A;
}

.ValidationError {
    color: red;
    margin: 5px 0;
} 